@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Outfit';
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
    height: 520px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 2px 12px hsl(215, 100%, 10%) ;
    justify-content: space-between;
}


.image{
    position: relative;
}
#item-image{
    height: 50%;
}
#item-image-main{
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#item-image-hover{
    border-radius: 8px;
    background-color: hsla(178, 100%, 50%, 0.534);
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 0;
    opacity: 0;
}


#item{
    color:  hsla(0, 0%, 100%, 0.87);
}
#item-description{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}
#costntime{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#costntime>div{
    display: flex;
    align-items: center;
}
#cost>p{
    padding-left: 8px;
    color: hsl(178, 100%, 50%);
}
#time>p{
    padding-left: 8px;
    color: hsl(215, 51%, 70%);
}

#createdby{
    display: flex;
    align-items: center;
    padding: 16px;
    border-top: 1px solid hsl(215, 32%, 27%);
}
#createdby>img{
    height: 45px;
    border: .5px solid white;
    border-radius: 50%;
    margin-right:16px ;
}
#createdby>p{
    color: hsl(215, 51%, 70%);

}
strong{
    color: white;
}

/*hover states*/
#item-image-hover:hover{
    opacity: 1;
    cursor: pointer;
}
#item:hover,strong:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}
/*mobile responsive*/
@media screen and (max-width:480px) {
    section{
        width: 350px;
    }
    #item-image{
        height: 55%;
    }

}